$pcolor: #04aa6d;

.main-body-posts-wrapper {
    width: 100%;

    .post-wrapper {
        .posts-wrap {
            width: 100%;
            margin-top: 10px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 10px;

            .posts {
                .single-post {
                    display: flex;
                    flex-direction: column;
                    // width: 180px;
                    // margin-left: 20px;

                    .featureImage {
                        width: 100%;
                        height: 130px;
                        overflow: hidden;
                        border: 1px solid #0003;
                        // border-radius: 3px;

                        .image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            // border-radius: 3px;
                        }
                    }

                    .featureImage:hover .image {
                        transform: scale(1.02);
                        transition: all.3s ease-in-out;
                    }

                    .postTitle {
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 600;
                        color: #000;
                        margin-top: 5px;
                        font-family: 'Roboto', sans-serif;

                    }

                    .postTitle:hover {
                        color: $pcolor;
                        transition: all.3s ease-in-out;
                    }
                }
            }
        }

        // Style 1
        .style1 {
            width: 100%;
            display: none;
            display: grid;
            grid-template-columns: 250px auto;
            grid-template-rows: auto auto auto;

            .posts{
                width: 100%;
                height: auto;
                // margin-left: 10px;
                .single-post {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
    
                    .featureImage {
                        width: 180px;
                        height: 100px;
                    }
                    .postTitle{
                        margin-left: 10px;
                        width: 100%;
                    }
                }
            }

            .firstPostGrid {
                width: 100%;
                grid-row: 1/ 4;
                margin-left: 0;
                // margin-bottom: 5px;

                .single-post {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        // background-color: #0003;
                        box-shadow: 0px -147px 400px -96px rgba(0, 0, 0, 0.664) inset;
                    }

                    .featureImage {
                        height: 100%;
                        width: 100%;
                    }

                    .postTitle {
                        position: absolute;
                        bottom: 5px;
                        padding: 0 5px;
                        color: #fff;
                        font-weight: 400;
                        font-size: 20px;
                        margin-left: 0;
                    }
                }
            }
        }

        // Media Queries for Style 1
        @media (max-width: 850px) {
            .style1{
                width: 100%;
                overflow: hidden;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto;
                gap: 10px;
                .posts{
                    margin-left: 0;
                    width: 100%;
                    .single-post{                        
                    flex-direction: column;

                    .featureImage{
                        width: 100%;
                    }
                    }
                }
                .firstPostGrid{
                    grid-column: 1/ -1;
                    height: 200px;
                    width: 100%;

                    .single-post{
                        width: 100%;
                    }
                }
            }
        }

        @media (max-width: 450px) {
            .style1{
                grid-template-rows: auto auto auto;
                grid-template-columns: auto auto;

                .posts{
                    .single-post{
                        margin: 0;
                    }
                }
            }
        }
    }
}

// Media Queries
@media(max-width: 900px) {
    .main-body-posts-wrapper {
        .post-wrapper{
            .posts-wrap {
                grid-template-columns: auto auto;
            }
        }
    }
}

// @media(max-width: 700px) {
//     .main-body-posts-wrapper {
//         .posts-wrap {
//             .posts {
//                 .single-post {
//                     width: 150px;
//                     margin-bottom: 10px;

//                     .featureImage {
//                         height: 100px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media(max-width: 550px) {
//     .main-body-posts-wrapper {
//         .posts-wrap {
//             width: 100%;

//             .posts {
//                 width: 100%;

//                 .single-post {
//                     width: 100%;
//                     margin-bottom: 10px;
//                     margin-right: 0;

//                     .featureImage {
//                         height: 180px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media(max-width: 400px) {
//     .main-body-posts-wrapper {
//         .posts-wrap {
//             .posts {
//                 .single-post {
//                     .featureImage {
//                         height: 180px;
//                     }
//                 }
//             }
//         }
//     }
// }