<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/preset.css">
    <link rel="stylesheet" href="./css/nav.css">
    <title>Single Post</title>
</head>
<body>
    {{!-- Nav Bar Start --}}
    <div class="nav-wrapper">
        <div class="nav-content">
            <a href="/">
            <img src="http://localhost:3000/static/media/logo.bec652fa070b76c46077.png" alt="lusterane" class="logo">
            </a>
            <div class="links">
                <a href="#" class="link">Home</a>
                <a href="#" class="link">About</a>
                <a href="#" class="link">Contact</a>
                <a href="#" class="link">Services</a>
                <a href="#" class="link">JavaScript</a>
                <a href="#" class="link">React Native</a>
                <span>
                </span>
            </div>
            <div class="hamburger">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </div>
        </div>
    </div>
</body>
</html>